.header-img {
    width: 50vw !important;
    display: block !important;
    margin: 0 auto !important;
}

.quote-box {
    border: 1px solid #F9A94B;
    border-radius: 5px;
    background-color: rgba(248, 248, 248, 0.7);
    padding: 1rem;
    text-align: center;
    width: 50vw;
    display: block;
    margin: 2rem auto auto;
}

.quote-box h2 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.quote-box .btn {
    margin-top: 0;
    margin-bottom: 0;
}

#scroll-hero-btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 1.5rem;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .header-img, .quote-box {
        width: 70% !important;
    }
}

@media (max-width: 767px) {
    .header-img, .quote-box {
        width: 90% !important;
    }
}

.hero-link {
    color: #F28500 !important;
    transition: 0.3s ease;
}

.hero-link:hover {
    color: #F9A94B !important;
}

.notice-bigger {
    font-size: 120% !important;
}

.top-margin {
    margin-top: 2rem;
}




.desktop-only {
    display: none;
}

@media (min-width: 768px) {
    .desktop-only {
        display: block;
    }
}

.mobile-only {
    display: block;
}

@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}

.mobile-about-img {
    width: 400px;
    margin-bottom: 1rem;
}

.smooth-img {
    border-radius: 5px;
}






.service-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.service-image img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}


@media (max-width: 767px) {
    .btn-mobile {
        width: 90vw;
    }
}

.small-top-margin {
    margin-top: 0.5rem;
}





.primary-hr {
    border: 1px solid #F9A94B;
}


li {
    text-align: left;
}

.btn {
    color: #000 !important;
}

.btn:hover {
    background-color: #FBD7A8 !important;
}

details {
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 1rem;
}

summary {
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
}

details[open] {
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

th, td {
    border: 1px solid #eee;
    padding: 0.75rem;
    text-align: left;
}

th {
    background-color: #f8f8f8;
}

tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

.btn {
    color: #000 !important;
}

.btn:hover {
    background-color: #FBD7A8 !important;
}
