/* ==========================================================================
   Antifragil skin
   ========================================================================== */

/* Colors */
$background-color: #fff !default;
$text-color: #333 !default;
$primary-color: #F9A94B !default;
$danger-color: #F28500 !default;
$border-color: #eee !default;
$code-background-color: #fafafa !default;
$code-background-color-dark: #f0f0f0 !default;
$form-background-color: #fafafa !default;
$footer-background-color: mix(#fff, $primary-color, 80%) !default;
$link-color: #F28500 !default;
$link-color-hover: mix(#000, $link-color, 25%) !default;
$link-color-visited: mix(#fff, $link-color, 15%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

$notice-background-mix: 20 !default;